<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MEACruncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MEACruncher.Properties.Settings.mysqlDbConnectionString"
            connectionString="Server=localhost;Port=3306;CharSet=utf8;User id=root;Pwd=mysqlShundra8820;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MEACruncher.Properties.Settings>
            <setting name="buttonColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="mysqlDbName" serializeAs="String">
                <value>meadata</value>
            </setting>
            <setting name="controlFont" serializeAs="String">
                <value>Segoe UI, 10pt</value>
            </setting>
            <setting name="containerHeight" serializeAs="String">
                <value>537, 29</value>
            </setting>
            <setting name="controlHeight" serializeAs="String">
                <value>581, 29</value>
            </setting>
            <setting name="formBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="labelText" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="buttonText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="textboxBackground" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="textboxText" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="dgvCellBackground" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="dgvCellText" serializeAs="String">
                <value>Black</value>
            </setting>
        </MEACruncher.Properties.Settings>
    </applicationSettings>
</configuration>