<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.28.3" targetFramework="net45" developmentDependency="true" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.50.1" targetFramework="net45" developmentDependency="true" />
  <package id="PropertyChanging.Fody" version="1.27.0.0" targetFramework="net45" developmentDependency="true" />
</packages>